# Dependencias
node_modules/

# Build
dist/
build/

# Cobertura de pruebas
coverage/

# Archivos de configuración
*.config.js
webpack.config.js

# Archivos generados
src/react-app-env.d.ts
src/serviceWorker.ts
src/serviceWorkerRegistration.ts

# Archivos de tipado
*.d.ts
