# Dependencias
node_modules/

# Build
dist/
build/

# Cobertura de pruebas
coverage/

# Archivos de configuración
*.config.js
package-lock.json

# Archivos generados
src/react-app-env.d.ts

# Archivos de tipado
*.d.ts

# Archivos estáticos
public/
